<?php

  /*
  Айди группы, в которой можно проверить бота: 188328735
  */

 $confirmation_token = 'Строка, которую должен вернуть сервер';
 $group_token = 'Ключ доступа для работы с API';
 $access_token = 'Ключ доступа пользователя';

 $db_host = 'Адрес хоста';
 $db_name = 'Имя';
 $db_pass = 'Пароль';
 $db_database = 'Название БД';
